{% extends 'base.html' %}
{% load static %}
{% load tailwind_filters %}

{% block content %}
    <div class="pt-20">
        <section class="container flex flex-col items-center mx-auto p-8">
            <div class="flex flex-col space-y-2 border p-12 rounded-lg shadow-lg">
                <h3 class="text-3xl font-bold mb-3">Create Event</h3>
                <div>
                    <form method="POST" action="{% url 'createEvent' %}">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button class="border rounded-lg py-3 px-5" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}