<!DOCTYPE html>
{% load static %}
<html class="h-full" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Project CTW{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <script
      src="https://kit.fontawesome.com/b787fe3984.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.2/dist/cdn.min.js"></script>
  </head>
  <body class="h-full" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include "partials/navbar.html" %}
    {% if messages %}
      <div class="absolute top-14 right-0 z-50 flex items-end px-4 py-6 sm:items-start sm:p-6">
        <ul class="flex flex-col items-center space-y-4 sm:items-end">
          {% for message in messages %}
            {% include 'partials/notification.html' with tag=message.tags message=message %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    
    {% block content %} {% endblock content %}
    {% include "partials/footer.html" %}
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
