{% load static %}

<header>
    <nav class="relative w-full flex flex-wrap items-center justify-between py-4 bg-primary text-fourth focus:text-third shadow-lg">
        <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
            <div class="flex-grow items-center">
                <a class="text-xl" href="#">Project CTW</a>
                <ul class="flex flex-row pl-0 list-style-none mr-auto">
                    <li class=" px-2">
                        <a class="hover:text-third" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="pr-2">
                        <a class="hover:text-third" href="{% url 'about' %}">About</a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="pr-2">
                            <a class="hover:text-third" href="{% url 'createEvent' %}">Propose Event</a>
                        </li>

                        <li class="pr-2">
                            <a class="hover:text-third" href="#">Profile</a>
                        </li>
                        <li class="pr-2">
                            <a class="hover:text-third" href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="pr-2">
                            <a class="hover:text-third" href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>