{% load static %}

<header class="">
    <nav class="fixed flex flex-row justify-between bg-primary text-fourth overflow-hidden p-0 m-0 top-0 h-14 w-full shadow-md z-50 bg-white">
        <ul class="list-none flex flex-row items-center">
            <li class="">
                <a class="block text-center text-xl font-bold py-3.5 px-4" href="{% url 'home' %}">Project CTW</a>
            </li>
            <li class="">
                <a class="block text-center py-3.5 px-4 hover:text-third" href="{% url 'home' %}">Home</a>
            </li>
            <li class="">
                <a class="block text-center py-3.5 px-4 hover:text-third" href="{% url 'about' %}">About</a>
            </li>
            <li class="">
                <a class="block text-center py-3.5 px-4 hover:text-third" href="{% url 'proposals' %}">Event Proposals</a>
            </li>
        </ul>
        <ul class="list-none flex flex-row items-center">
            {% if request.user.is_authenticated %}
                <li class="">
                    <a class="block text-center py-3.5 px-4 hover:text-third" href="{% url 'createEvent' %}">Propose Event</a>
                </li>
                <li class="">
                    <a class="block text-center py-3.5 px-4 hover:text-third" href="{% url 'profile' request.user.id %}">Profile</a>
                </li>
                <li class="">
                    <a class="block text-center py-3.5 px-4 hover:text-third" href="{% url 'logout' %}">Logout</a>
                </li>

            {% else %}
                <li class="justify-end">
                    <a class="block text-center py-3.5 px-4 hover:text-third" href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>