{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="pt-16">
        <!-- Content section -->
        <div class="mx-auto max-w-7xl px-6 sm:mt-0 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
                <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Our mission</h2>
                <div class="mt-6 flex flex-col gap-x-8 gap-y-20 lg:flex-row">
                    <div class="lg:w-full lg:max-w-2xl lg:flex-auto">
                        <p class="text-xl leading-8 text-gray-600">
                            Project Change The World (ProjectCTW) is on a mission to cultivate a culture of compassion, collaboration, and community resilience. Our vision is to create a dynamic digital platform that serves as the beating heart of positive transformation within neighborhoods.
                        </p>
                        <div class="mt-10 max-w-xl text-base leading-7 text-gray-700">
                            <p>
                            We believe in the inherent power of individuals to drive change, and our mission is to provide them with the tools and space to inspire, support, and actively engage in projects that elevate the well-being of their local communities. By harnessing the collective wisdom and diverse talents of community members, we aim to create a ripple effect of positive change that extends far beyond the digital realm.
                            </p>
                            <p class="mt-10">
                            Through fostering an environment that encourages collaboration, open communication, and collective action, we strive to be a catalyst for lasting change. We invite you to join us on this transformative journey, where every idea, every vote, and every action contributes to building a stronger, more connected, and resilient community. Together, we can turn aspirations into reality and shape a future where every community member thrives.
                            </p>
                        </div>
                    </div>
                    {% comment %} <div class="lg:flex lg:flex-auto lg:justify-center">
                    <dl class="w-64 space-y-8 xl:w-80">
                        <div class="flex flex-col-reverse gap-y-4">
                        <dt class="text-base leading-7 text-gray-600">Transactions every 24 hours</dt>
                        <dd class="text-5xl font-semibold tracking-tight text-gray-900">44 million</dd>
                        </div>
                        <div class="flex flex-col-reverse gap-y-4">
                        <dt class="text-base leading-7 text-gray-600">Assets under holding</dt>
                        <dd class="text-5xl font-semibold tracking-tight text-gray-900">$119 trillion</dd>
                        </div>
                        <div class="flex flex-col-reverse gap-y-4">
                        <dt class="text-base leading-7 text-gray-600">New users annually</dt>
                        <dd class="text-5xl font-semibold tracking-tight text-gray-900">46,000</dd>
                        </div>
                    </dl>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>

        <!-- Image section -->
        <div class="mt-32 sm:mt-40 xl:mx-auto xl:max-w-7xl xl:px-8">
            <img src="https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80" alt="" class="aspect-[5/2] w-full object-cover xl:rounded-3xl">
        </div>
        
    </main>
{% endblock content %}