name: Django CI

on:
  push:
    branches: [ "main", "development" ]
  pull_request:
    branches: [ "main", "development" ]

env:
  SECRET_KEY: ${{ secrets.TESTING_SECRET_KEY }}
  GITHUB_WORKFLOW: True
  ENGINE: django.db.backends.postgresql
  PGDATABASE: github_actions
  PGUSER: postgres
  PGPASSWORD: postgres
  PGHOST: localhost
  PGPORT: 5432
  EMAIL_API_KEY: ''
  EMAIL_HOST: ''
  EMAIL_HOST_USER: ''
  FROM_EMAIL: ''
  EMAIL_PORT: ''

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15

        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: github_actions

        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

        ports:
          - 5432:5432


    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.10.8]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Tests
      run: |
        python manage.py test